
@import url('https://fonts.cdnfonts.com/css/games');

body {
  background: rgb(33,39,235);
  background: linear-gradient(90deg, rgba(33,39,235,1) 0%, rgba(125,10,241,1) 50%, rgba(176,45,253,1) 100%);
  font-family: 'Games', sans-serif;
  color: white;
}

h1 {
  font-size: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 0px 10px;
  background-color: rgba(176,45,253,.5);
}

.navlink li {
  color: white;
}

.nav-bar ul li {
  list-style: none;
  font-size: 18px;
  text-align: right;
}

.games-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.search-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 20px;
}

.search-bar {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  margin: 20px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-top: 40px;
  text-align: center;
  width: 200px;

}

button {
  font-family: 'Games', sans-serif;
}

.game-results {
  height: 370px;
  width: 315px;
  margin: 20px auto;
  border: 1px solid rgba(176,45,253,.8);
  background-color: rgba(176,45,253,.3);
  align-content: center;
}

img {
  height: 250px;
  width: 315px;
}

footer a {
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

@media (min-width: 400px) and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }

  .search-bar {
    width: 175px;
  }

  .games-container {
    display: grid;
    grid-template-columns: 1fr;
  }

}

@media (min-width: 1200px) {
  h1 {
    font-size: 35px;
  }

  .search-bar {
    width: 210px;
  }

  .games-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

}



